<!DOCTYPE html>

<body>
                <a href="/">Return to the gallery</a><br>
<form action="login" method=post>

  <div>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<br><br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
<br><br>

    <button type="submit">Login</button>
  </div>

  <div>
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>
</body>
</html>
 
